* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #E2DFE1;
  z-index: 2;
  padding: 0px;
}
header .container-fluid {
  max-width: 1000px;
  padding: 0;
}
header .container-fluid nav {
  display: flex;
  justify-content: start;
  margin: 0 auto;
  padding: 8px 8px 8px 24px;
  border-radius: 0px 0px 4.8px 4.8px;
}
header .container-fluid nav .navbar-toggler {
  display: none;
}
@media screen and (max-width: 1000px) {
  header .container-fluid nav {
    border-radius: 0;
  }
  header .container-fluid nav .navbar-toggler {
    display: none;
  }
}
@media screen and (max-width: 485px) {
  header .container-fluid nav {
    display: flex;
    justify-content: space-between;
    border-radius: 0;
  }
  header .container-fluid nav .nav-link {
    display: none;
  }
  header .container-fluid nav .navbar-toggler {
    display: block;
  }
  header .container-fluid nav .collapse .d-bl {
    display: block;
  }
}

.model, .container {
  max-width: 100%;
  height: 100vh;
}

.readme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
  position: absolute;
  z-index: 3;
  bottom: 0;
}
.readme button {
  font-weight: 500;
  width: 160px;
  height: 46px;
  border-radius: 4.8px;
  margin: 0 auto 30px;
  transition: all 0.5s ease-in-out;
}
.readme button:hover {
  background: transparent;
  color: #6C757D;
  border-color: #6C757D;
}

.modal-body h6 {
  text-align: center;
}
.modal-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.modal-body .roman {
  list-style: upper-roman;
}
.modal-body p {
  text-align: justify;
}